.comment-card {
  background-color: rgb(240, 248, 255, 0.8);
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
  padding: 2px;
  margin: 20px 400px;
  display: flex;
}

/* .comment-card-title {
} */

#edit-comment-btn {
  background-color: #2196f3;
  color: white;
  border: gray;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
}

#delete-comment-btn {
  background-color: #2196f3;
  color: white;
  border: gray;
  border-radius: 5px;
  padding: 3px;
}
