.comment-form-container {
  display: flex;
  flex-direction: column;
}

.leave-comment {
  color: aliceblue;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin: 5px 400px 5px 400px;
}

.comment-create-title-label {
  color: aliceblue;
}

.com-create-content-label {
  color: aliceblue;
}

.leave-comment-btn {
  margin: 10px 110px 10px 110px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(3, 129, 240);
  color: aliceblue;
}

@media only screen and (max-width: 1095px) {
  /*Tablets [601px -> 1200px]*/
  .comment-form {
    margin: 5px 300px 5px 300px;
  }
  .leave-comment-btn {
    margin: 10px 150px 10px 150px;
  }
}

@media only screen and (max-width: 975px) {
  /*Big smartphones [426px -> 600px]*/
  .comment-form {
    margin: 5px 300px 5px 300px;
  }
  .leave-comment-btn {
    margin: 10px 100px 10px 100px;
  }
}

@media only screen and (max-width: 880px) {
  .leave-comment-btn {
    margin: 10px 80px 10px 80px;
  }
}

@media only screen and (max-width: 850px) {
  .leave-comment-btn {
    margin: 10px 50px 10px 50px;
  }
}

@media only screen and (max-width: 775px) {
  .leave-comment-btn {
    margin: 10px 20px 10px 20px;
  }
}
