.find-party {
  background-color: #0b0b45;
  margin-top: 30px;
  padding-top: 20px;
}

.find-party-title {
  color: aliceblue;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.posts-create-btn {
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  padding-bottom: 50px;
  /* max-width: 95vw; */
}

.post-card {
  background-color: rgb(240, 248, 255, 0.8);
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
  padding: 2px;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.post-card:hover {
  opacity: 1;
  transform: scale(1.03);
}
