* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.detail-title {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.login-suggestion {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-detail {
  margin-top: 30px;
  background-color: #0b0b45;
}

/* .post-detail-btns {
  display: flex;
  flex-direction: row;
} */

.post-detail-card {
  background-color: rgb(240, 248, 255, 0.8);
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
  /* max-width: 70%; */
  margin: 0px 300px 10px 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-h2 {
  margin-top: 0px;
}

.comments {
  padding-bottom: 30px;
}

#detail-login-btn {
  margin-right: 5px;
}

#detail-register-btn {
  margin-left: 5px;
}

@media only screen and (max-width: 1000px) {
  /*Tablets [601px -> 1200px]*/
  .post-detail-card {
    margin: 0px 150px 10px 150px;
  }
}

@media only screen and (max-width: 750px) {
  .post-detail-card {
    margin: 0px 80px 10px 80px;
  }
}

@media only screen and (max-width: 6000px) {
  .post-detail-card {
    margin: 0px 20px 10px 20px;
  }
}
