.create-page {
  background-color: #0b0b45;
}

.create-title {
  color: aliceblue;
  padding-top: 20px;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: #0b0b45;
}

.create-form {
  display: flex;
  flex-direction: column;
  padding: 20px 80px 40px 80px;
  background-color: rgb(240, 248, 255, 0.8);
  margin-bottom: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
}

.party-name {
  padding: 10px;
}

.game-system {
  padding: 10px;
}

.time {
  padding: 10px;
}

.day {
  padding: 10px;
}

.description {
  padding: 10px;
}

.create-form-btn {
  margin-top: 30px;
}
