.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 103, 103);
}

.party-finder {
  display: flex;
}
.pf-nav-title {
  margin-top: 5px;
}

.logo {
  display: flex;
}

.dice {
  margin-top: 10px;
  margin-bottom: 12px;
}

.welcome-buttons {
  display: flex;
  align-items: center;
}
