.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(104, 103, 103);
  position: fixed;
  top: 0;
  width: 100%;
}

.party-finder {
  display: flex;
}
.pf-nav-title {
  margin-top: 5px;
}

.logo {
  display: flex;
}

.dice {
  margin-top: 10px;
  margin-bottom: 12px;
}

.welcome {
  padding-right: 10px;
}

.welcome-buttons {
  display: flex;
  align-items: center;
  padding-right: 4px;
}

#find-party-home-btn {
  margin-right: 5px;
}

#create-homepage-btn {
  margin-left: 5px;
}

#homepage-login-btn {
  margin-right: 5px;
}

#homepage-reg-btn {
  margin-left: 5px;
}

#basic-button {
  color: aliceblue;
}
